<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.com.controletransporte">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/cnt_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/cnt_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".atualiza_empresa.AtualizarEmpresaActivity">
        </activity>
        <activity android:name=".detalhe_empresa.DetalheActivity">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".cadastro_empresa.CadastroEmpresaActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".cadastro_veiculo.CadastroVeiculoActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".lista_empresa.ListaEmpresaActivity">
        </activity>
    </application>

</manifest>